*{
margin: 0;
padding: 0;
}

.principal{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;

}

.card{
height: 240px;
width: 240px;
border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.3s ease;
    flex: 0 0 auto;
    margin-top: 30px;

}
.card:hover{
    transform: scale(1.1);
}

.img{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
margin-left: 17px;
}

.text{
    display: flex;
justify-content: center;    
color:rgb(0, 0, 0);
}

.h1{
    margin-top: 15px;
    text-align: center;
    color: rgb(45, 56, 118);
}

.h2{
    margin-top: 10px;
    text-align: center;
}